*{
margin:0;
padding:0;
}

a {
  color: #0075A9;
}
img {
  border:none;
  display:block;
}
ul{
  list-style-type:none;
  padding-left:0;
  margin:0;
}
h1,h2,h3{
  margin:0;
}
body {
  font-size: 0.7em;
  line-height: 1.7;
  color: #362e2b;
  background-color: #F8F8F8;
  font-family:"ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, Osaka, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
}