*{
margin:0;
padding:0;
}

a {
  color: #0075A9;
}
img {
  border:none;
  display:block;
}
ul{
  list-style-type:none;
  padding-left:0;
  margin:0;
}
h1,h2,h3{
  margin:0;
}
body {
  font-size: 0.7em;
  line-height: 1.7;
  color: #362e2b;
  background-color: #F8F8F8;
  font-family:"ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
}


form{
width:700px;
margin:0px auto;
}

table{
margin-top:60px;
width:700px;
border:none;
font-size:1.4em;
}

th{
padding:20px;
}
th:nth-child(1){
color:#ff7f50
}
th:nth-child(2)
{width:350px;
}

input{
width:190px;
padding:5px;
}

input[type="radio"]{
width:5px;
}
textarea{
width:300px;
height:80px;
}
select{
width:190px;
padding:5px;
}
option{
width:190px;
padding:5px;
}
